.container {
  height: 100%;
  width: 800px;
/*  border-left: white solid 1px;
  border-right: white solid 1px;*/
  margin: 0 auto;
}

.header {
  padding: 50px 0;
  background-color: white;
  font-size: 20px;
}

.header-container {
  height: 100%;
  width: 800px;
  margin: 0 auto;
}

.entry-wrapper {
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.entry {
  background-color: white;
  height: 200px;
  width: 200px;
  margin: 90px 33px;
  overflow: hidden;
  float: left;
}

@media(max-width: 800px) {
  .container {
    width: 100%;
  }
  .entry {
    margin: 60px auto;
    float: none;
  }
}

.footer {
  overflow: hidden;
  background-color: white;
  color: #efefef;
  padding: 40px 20px;
}
